@import 'tailwindcss';

:root {
  --main-rgb: 165, 100, 230;
}

@theme {
  --breakpoint-xs: 460px;
  --color-main: rgb(var(--main-rgb));
}

/* scrollbar */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: black;
}

#site-background {
  background:
    radial-gradient(ellipse at 60% 30%, #232b4599 0%, #00000000 60%),
    linear-gradient(to bottom, #000000 0%, rgba(var(--main-rgb), 0.09) 100%);
}

.animate-whirl {
  animation: whirl 0.2s linear;
}

@keyframes whirl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1620deg);
  }
}
